[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = "*"
colorama = "*"
sympy = "*"
networkx = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
